<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<span>Pokemon:</span><br><br>
<% @trainer.pokemons.each do |pokemon| %>
  <% if pokemon.health > 0 or  current_trainer.id == @trainer.id%>
    <strong><%= pokemon.name %></strong> | Level: <%= pokemon.level %>| Health: <%=pokemon.health %>
      <div class="dropdown">
        <button class="dropbtn button small">Damage!</button>
        <div class="dropdown-content">
          <% current_trainer.pokemons.each do |attacker| %>
            <%= link_to attacker.name, damage_path(id: pokemon, attacker_id: attacker.id), method: :patch, id: attacker.id.to_s, class: "attack" %>
          <% end %>
        </div>
      </div>
      <% if current_trainer.id == @trainer.id%>
        <%= link_to "Heal!", heal_path(id: pokemon), class: "button small", method: :patch %>
      <% end %>
  <% end %>
  <br>
<% end %>
<br>
<% if current_trainer.id == @trainer.id%>
  <%= link_to "New Pokemon", pokemons_new_path, class: "button medium" %>
<% end %>
